{% extends "base/base_generic.html" %}

{% block content %}
    <table class="table table-striped" id="main-table">
        <thead>
            <tr>
                {% for header in lista_header %}
                    <th>{{ header}}</th>
                {% endfor %}
            </tr>

        </thead>
        <tbody>
            {% for elem in lista_personale %}
            <tr>
                <td>{{ elem.nome }} {{ elem.cognome}}  </td>
            <td>
                <a href="{% url 'wayinternal:associazionepersonalecompetenze_aggiorna' pk=elem.id %}" class="btn btn-default btn-sm">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </a>
            </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>


{% endblock %}
