{% extends "base/base_generic.html" %}

{% block content %}

{{form.errors}}
<div class="row">
    <div class="col-sm-12">
        <form id="job_form" action="" method="post" class="form-horizontal">
            {% csrf_token %}

            <div class="form-group">
                <label for="competenza">Skill</label>
                <input type="text" name="competenza" class="form-control" id="id_competenza" placeholder="" {% if object %} value="{{ object.competenza }}" {% endif %}>
            </div> 
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select name="tipo" class="form-control">
                    <option value=""  {% if object and object.tipo == "" %} selected {% endif %} ></option>
                    <option value="Cliente"  {% if object and object.tipo == "Cliente" %} selected {% endif %} >Cliente</option>
                    <option value="Settore"  {% if object and object.tipo == "Settore" %} selected {% endif %} >Settore</option>
                    <option value="Processo"  {% if object and object.tipo == "Processo" %} selected {% endif %}>Processo</option>
                    <option value="Tecnologia"  {% if object and object.tipo == "Tecnologia" %} selected {% endif %}>Tecnologia</option>
                    <option value="Best Practice"  {% if object and object.tipo == "Best Practice" %} selected {% endif %}>Best Practice</option>
                </select>
            </div> 
         
            <div class="form-group">
            <label for="importanza">Importanza</label>
            <input type="text" name="importanza" class="form-control slider_livello" value="" >            
        
            <label for="rarita">Rarità</label>
            <input type="text" name="rarita" class="form-control slider_livello" value="" > 
            </div>          
      
            <div class="form-group">
                <label for="descrizione">Descrizione</label>
                <input type="text" name="descrizione" class="form-control" id="id_descrizione" placeholder="descrizione" {% if object %} value="{{ object.descrizione }}" {% endif %}>
            </div>
        
        
            
  
  
        <table id="t01">
                <thead>
                    <tr>
                        <th>Importanza</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Pochissimi clienti in uso e riconosciuto un basso valore | Competenza non necessaria per il mercato | Cliente <span> < </span> 4k   </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Pochi clienti e non costituisce competenza strategica | Compentenza necessaria e ma non riconosciuta dal mercato | Cliente 4-7k </td>
                        </tr>
                        <tr>
                            <td> 3 </td>
                            <td> Pochi clienti ma che ne riconoscono il valore | Competenza Needed to Play | Cliente 7-15k   </td>
                        </tr>
                        <tr>
                            <td> 4 </td>
                            <td> Buon numero di clienti ma competenza non riconosciuta in termini di valore | Competenza riconosciuta dal mercato | Cliente 15-25k </td>
                        </tr>
                            <td> 5 </td>
                            <td> Buon numero di clienti che ne riconoscono il valore | E' una competenza unica e riconosciuta dal mercato | Cliente 25k+</td>
        
                        </tr>
        
                </tbody>
        
                <thead>
                        <tr>
                            <th>Rarità</th>
                            <th></th>
                        </tr>
                </thead>
                <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> La maggioranza conosce l'argomento ed è facilmente reperibile sul mercato del lavoro </td>
                            </tr>
                            <tr>
                                <td> 2 </td>
                                <td> Molti conoscono l'argomento </td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> Una o più persone conoscono l'argomento in modo sostanziale   </td>
                            </tr>
                            <tr>
                                <td> 4 </td>
                                <td> Una persona conosce l'argomento, ma altri ne sono consapevoli </td>
                            </tr>
                                <td> 5 </td>
                                <td> Solo una persona conosce l'argomento </td>
            
                            </tr>
            
                </tbody>
            </table>
            </details>
            <br/>
            <br/>
            
            <button class="btn btn-primary" type="submit">Salva</button>
        </form>
        
    </div>
</div>


            <style>
            table#t01 {
            width:80%;
            }

            </style>

        <script>
                var values =[1,2,3,4,5];var values_p =[1,2,3,4,5];
                $(".slider_livello").ionRangeSlider({
                  min: 1,
                  max: 5,
                  grid: true,
                  from: 0, 
                  values:values,
                  prettify: function (n) {
                    var ind = values.indexOf(n);
                    return values_p[ind];
                  },
                });
                {% if object %}
                    $("input[name='rarita']").data("ionRangeSlider").update({from:parseInt("{{ object.rarita }}")-1});
                    $("input[name='importanza']").data("ionRangeSlider").update({from:parseInt("{{ object.importanza}}")-1});
                {% endif %}
        </script>
{% endblock %}
       