{% extends "base/base_generic.html" %}

{% block content %}
    <div id="content-container">
        <h3>Confermi l'eliminazione?</h3>
        <p>Stai per cancellare: <b>{{ object }}</b>. Confermi?</p>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-link"
                   type="button" value="Annulla"
                   onclick="window.history.go(-1);"/>
            <input class="btn btn-danger" type="submit" value="Confermo"/>
        </form>
    </div>
{% endblock %}