{% extends "base/base_generic.html" %}



{% block content %}
    <table class="table table-striped" id="main-table">
        <thead>
            <tr>
                {% for header in lista_header %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for elem in lista_elementi %}
                <tr>
                    <td>{{ elem.id }}</td>
                    <td>{{ elem.competenza }}</td>
                    <td>{{ elem.tipo }}</td>
                    <td>{{ elem.descrizione }}</td>     
                    <td>
                        <a href="{% url 'wayinternal:competenze_aggiorna' pk=elem.id %}" class="btn btn-default btn-sm">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'wayinternal:competenze_elimina' pk=elem.id %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt" aria-hidden="true"></i>
                        </a>
    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'wayinternal:competenze_create' %}" class="btn btn-primary btn-sm">
        <i class="fa fa-plus fa-lg" aria-hidden="true"></i> Nuovo
    </a> 

    <script>
        $(document).ready(function() {
            $('#main-table').DataTable({
                'order':[],
                "language": {
                    "lengthMenu": "Show _MENU_ elements per page",
                    "zeroRecords": "No records found",
                    "info": "Show page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records found",
                    "infoFiltered": "(filtered of _MAX_ total items)",
                    "previous": "Previous",
                    "search": "Search"
                }
            });
        } );
    </script>
{% endblock %}

