{% extends "base/base_generic.html" %}

{% block content %}

{{form.errors}}

<div class="row">
       
    <div class="col-sm-12">
        <form id="job_form" action="" method="post" class="form-horizontal">
            {% csrf_token %}
           
            
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" id="id_nome" placeholder="Nome" {% if object %} value="{{ object.nome}}" {% endif %}>
           
                <label for="cognome">Cognome</label>
                <input type="text" name="cognome" class="form-control" id="id_cognome" placeholder="Cognome" {% if object %} value="{{ object.cognome }}" {% endif %}>
          
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="id_email" placeholder="Email" {% if object %} value="{{ object.email }}" {% endif %}>

                <label for="jira_user">Utente Jira</label>
                <input type="text" name="jira_user" class="form-control" id="id_jira_user" placeholder="nome utente jira" {% if object %} value="{{ object.jira_user }}" {% endif %}>

                <label for="telefono">Nr. Telefono</label>
                <input type="text" name="telefono" class="form-control" id="id_telefono" placeholder="telefono" {% if object %} value="{{ object.telefono }}" {% endif %}>
                
                <label for="data_di_nascita">Data di Nascita</label>
                <input type="text" name="data_di_nascita" class="form-control datepicker" autocomplete="off" id="id_data_di_nascita" placeholder="dd-mm-yyyy" {% if object %} value="{{ object.data_di_nascita }}" {% endif %}>

            <label for="data_di_primo_impiego">Data di Primo Impiego</label>
            <input type="text" name="data_di_primo_impiego" class="form-control datepicker" autocomplete="off" id="id_data_di_primo_impiego" placeholder="dd-mm-yyyy" {% if object %} value="{{ object.data_di_primo_impiego}}" {% endif %}>
        </div>

    <div class="form-group">
        <label for="sede_principale">Sede Principale</label>
        <input type="text" name="sede_principale" class="form-control" id="id_sede_principale" placeholder="HQ Reggio Emilia" {% if object %} value="{{ object.sede_principale }}" {% endif %}>
       
    </div> 

    <div class="form-group">
            <label for="tipo_di_contratto">Tipo di Contratto</label>
            <select class="form-control" name="tipo_di_contratto" class="form-control" id="id_tipo_di_contratto">
                <option value="" {% if object and object.tipo_di_contratto == "" %} selected {% endif %}></option>
                <option value="Tirocinio" {% if object and object.tipo_di_contratto == "Tirocinio" %} selected {% endif %}>Tirocinio</option>
                <option value="Esterno" {% if object and object.tipo_di_contratto == "Esterno" %} selected {% endif %}>Esterno</option>
                <option value="Apprendistato" {% if object and object.tipo_di_contratto == "Apprendistato" %} selected {% endif %}>Apprendistato</option>
                <option value="Normale" {% if object and object.tipo_di_contratto == "Normale" %} selected {% endif %}>Normale</option>
                <option value="Amministratore" {% if object and object.tipo_di_contratto == "Ammninistratore" %} selected {% endif %}>Amministratore</option>
            </select>
    </div>
    <div class="form-group">
        <label for="data_inizio_rapporto">Data di Inizio Rapporto</label>
        <input type="text" name="data_inizio_rapporto" class="form-control datepicker" autocomplete="off" id="id_data_inizio_rapporto" placeholder="dd-mm-yyyy" {% if object %} value="{{ object.data_inizio_rapporto }}" {% endif %}>
        
        <label for="data_fine_rapporto">Data di Fine Rapporto</label>
        <input type="text" name="data_fine_rapporto" class="form-control datepicker" autocomplete="off" id="id_data_fine_rapporto" placeholder="dd-mm-yyyy" {% if object and object.data_fine_rapporto != None %} value="{{ object.data_fine_rapporto  }}"  {% else %} value="" {% endif %}>
        
        <label for="ore_mensili_lavorabili_contratto">Ore Mensili Lavorabili Contratto</label>
        <input type="number" name="ore_mensili_lavorabili_contratto" class="form-control" id="id_ore_mensili_lavorabili_contratto" placeholder="Mese Standard = (365-12)/12*5/7*8 = 168" {% if object %} value="{{ object.ore_mensili_lavorabili_contratto }}" {% else %} value=168 {% endif %}>

        <label for="ferie_permessi_maturati">Ferie e Permessi Maturati Mese</label>
        <input type="number" name="ferie_permessi_maturati" class="form-control" id="id_ferie_permessi_maturati" placeholder="" min="0" {% if object %} value="{{ object.ferie_permessi_maturati }}"   {% endif %}>
        
        <label for="note_rapporto">Note Rapporto</label>
        <textarea type="textarea" rows="5" name="note_rapporto" class="form-control" id="id_note_rapporto" >{% if object %} {{ object.note_rapporto}} {% endif %}</textarea>
   
    </div>
        <div class="form-group">
                <label for="ruolo">Ruolo</label>
                <br/>
                <label class="checkbox-inline"><input  {% if object and object.ruolo == "operations"  %} checked {% endif %} class="ruolo_check" type="checkbox" id="ruolo_operations" value="operations" >Operations</label>
                <label class="checkbox-inline"><input {% if object and object.ruolo == "sviluppo"  %} checked {% endif %} class="ruolo_check" type="checkbox" id="ruolo_sviluppo" value="sviluppo">Sviluppo</label>
                <label class="checkbox-inline"><input {% if object and object.ruolo == "marketing"  %} checked {% endif %} class="ruolo_check" type="checkbox" id="ruolo_marketing" value="marketing" >Marketing</label>
                <label class="checkbox-inline"><input {% if object and object.ruolo == "AFC"  %} checked {% endif %}  class="ruolo_check" type="checkbox" id="ruolo_AFC" value="AFC" >AFC</label>
                <label class="checkbox-inline"><input {% if object and object.ruolo == "planning"  %} checked {% endif %}  class="ruolo_check" type="checkbox" id="ruolo_planning" value="planning">Planning</label>
                <input type="hidden" name="ruolo" class="form-control" id="id_ruolo" placeholder="Ruolo" {% if object %} value="{{ object.ruolo }}" {% endif %}>
        
        </div>

        <div class="form-group">    
 
                
                <label for="pct_operations">Percentuale Operations</label>
                <input type="number" name="pct_operations" class="form-control" id="id_pct_operations" placeholder="" min="0"  {% if object %} value="{{ object.pct_operations }}" {% else %} value=0  {% endif %}>
            </div>

    <div class="form-group">
            <label for="obiettivo_del_ruolo">Obiettivo del Ruolo</label>
            <textarea type="textarea" rows="5" name="obiettivo_del_ruolo" class="form-control" id="id_obiettivo_del_ruolo" >{% if object %}{{ object.obiettivo_del_ruolo}}{% endif %}</textarea>
    </div>
   
    <div class="form-group">    
        <label for="mezzo_proprio">Mezzo Proprio</label>
        <input type="text" name="mezzo_proprio" class="form-control" id="id_mezzo_proprio" placeholder="Modello" {% if object %} value="{{ object.mezzo_proprio}}" {% endif %}>
        
        <label for="rimborso_km_ACI">Rimborso Km ACI</label>
        <input type="number" name="rimborso_km_ACI" class="form-control" id="id_rimborso_km_ACI" placeholder=""  {% if object %} value="{{ object.rimborso_km_ACI }}"  {% endif %} min="0" step=0.0001>
    </div>
    <div class="form-group">    
        <label for="rapporto_attivo">Rapporto Attivo</label><br/>
        <input type="radio" name="rapporto_attivo" id="id_rapporto_attivo" value="Si" {% if object and object.rapporto_attivo == "Si" %} checked {% endif %} >Si
        <input type="radio" name="rapporto_attivo" id="id_rapporto_attivo" value="No" {% if object and object.rapporto_attivo == "No" %} checked {% endif %} >No

     
    </div>
</div>



<div class="form-group">
    <button class="btn btn-primary" id="submit">Salva</button>
    <a href="{% url 'wayinternal:personale_list' %}" class="btn btn-default">
        Annulla
    </a>
</div>
</form>
</div>
</div>


<script>


                    

    $( ".datepicker" ).datepicker({
        showAnim: 'slideDown',
        changeMonth: true,
        changeYear: true,
        yearRange: '1920:2060',
        dateFormat:'dd-mm-yy',
        monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno','Luglio',
            'Agosto','Settembre','Ottobre','Novembre','Dicembre']
    });

    $("#ruolo_operations,#ruolo_sviluppo,#ruolo_AFC,#ruolo_marketing,#ruolo_planning").click( function(){
        if($(this).is(':checked')){
            if($("#id_ruolo").val() != ""){
            $("#id_ruolo").val($("#id_ruolo").val() + "," + $(this).val())
            }else {
            $("#id_ruolo").val($(this).val())
            }
        }else {
            var txt = $("#id_ruolo").val().split(",");
            $("#id_ruolo").val("");
            for (var i = 0; i < txt.length; i++) {
            if (txt[i] != $(this).val()) {
                if (i > 0) {
                $("#id_ruolo").val($("#id_ruolo").val() + "," + txt[i])
                }else {
                $("#id_ruolo").val(txt[i])
                }
            }
            }
        }
        if ($("#id_ruolo").val().charAt(0) == ",") {
            $("#id_ruolo").val($("#id_ruolo").val().substring(1));
        }
    });

    

    var monthNames = new Array();
    monthNames["Gennaio"] = '01';
    monthNames["Febbraio"] = '02';
    monthNames["Marzo"] = '03';
    monthNames["Aprile"] = '04';
    monthNames["Maggio"] = '05';
    monthNames["Giugno"] = '06';
    monthNames["Luglio"] = '07';
    monthNames["Agosto"] = '08';
    monthNames["Settembre"] = '09';
    monthNames["Ottobre"] = '10';
    monthNames["Novembre"] = '11';
    monthNames["Dicembre"] = '12';

    {% if object.data_di_nascita %}
        var newdata_rec = $('#id_data_di_nascita').val().split(" "); //2018-06-19
        $('#id_data_di_nascita').val(newdata_rec[2]+"-"+monthNames[newdata_rec[1]]+"-"+newdata_rec[0]);
    {% endif %}

    {% if object.data_di_primo_impiego %}
        var newdata_rec = $('#id_data_di_primo_impiego').val().split(" "); //2018-06-19
        $('#id_data_di_primo_impiego').val(newdata_rec[2]+"-"+monthNames[newdata_rec[1]]+"-"+newdata_rec[0]);
    {% endif %}

    {% if object.data_inizio_rapporto %}
        var newdata_rec = $('#id_data_inizio_rapporto').val().split(" "); //2018-06-19
        $('#id_data_inizio_rapporto').val(newdata_rec[2]+"-"+monthNames[newdata_rec[1]]+"-"+newdata_rec[0]);
    {% endif %}

    {% if object.data_fine_rapporto %}
        var newdata_rec = $('#id_data_fine_rapporto').val().split(" "); //2018-06-19
        $('#id_data_fine_rapporto').val(newdata_rec[2]+"-"+monthNames[newdata_rec[1]]+"-"+newdata_rec[0]);
    {% endif %}

    {% if object.ore_mensili_lavorabili_contratto %}
        $('#id_ore_mensili_lavorabili_contratto').val( parseInt("{{ object.ore_mensili_lavorabili_contratto }}"));
    {% endif %}

    {% if object.ferie_permessi_maturati >= 0 %}
        $('#id_ferie_permessi_maturati').val( parseInt("{{ object.ferie_permessi_maturati }}") );
    {% endif %}

    {% if object.rimborso_km_ACI %}
        var ACI="{{ object.rimborso_km_ACI }}"
        ACI=ACI.replace(",",".")
        $('#id_rimborso_km_ACI').val(ACI);
    {% endif %}



    {% if object.ruolo %}
        var ruolo=String("{{ object.ruolo }}")
        ruolo=ruolo.split(",")
        for (var i = 0; i < ruolo.length; i++) {
           
            if (ruolo[i]=='operations'){$('#ruolo_operations').prop('checked',true)}
            if (ruolo[i]=='sviluppo'){$('#ruolo_sviluppo').prop('checked',true)}
            if (ruolo[i]=='marketing'){$('#ruolo_marketing').prop('checked',true)}
            if (ruolo[i]=='AFC'){$('#ruolo_AFC').prop('checked',true)}
            if (ruolo[i]=='planning'){$('#ruolo_planning').prop('checked',true)}
            
        }
    {% endif %}

    {% if object.note_rapporto %}
        $('#id_note_rapporto').val( "{{ object.note_rapporto }}".trim() );
    {% endif %}

 

</script>

{% endblock %}