{% extends "base/base_generic.html" %}

{% block content %}

{{elem.flagrapportini}}

    <table class="table table-striped" id="main-table">
        <thead >
            <tr>
                {% for header in lista_header %}
                    <th style="text-align:center; vertical-align: middle;">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody style="text-align:center; vertical-align: middle;">
            {% for elem in lista_elementi %}
      
            <tr>
                <td>{{ elem.progetti_jira }}</td>
                <td>{{ elem.email }}</td>

                <td>{{ elem.flagprogetti }}</td>
                <td>{{ elem.flagrapportini }}</td>
                      
                <td>
                <a href="{% url 'wayinternal:waywcp_aggiorna' pk=elem.id %}" class="btn btn-default btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                </a>    
                <a href="{% url 'wayinternal:waywcp_elimina' pk=elem.id %}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>
                    
                </a>

                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'wayinternal:waywcp_create' %}" class="btn btn-primary btn-sm">
        <i class="fa fa-plus fa-lg" aria-hidden="true"></i> Nuovo
    </a> 
   <script>
    $(document).ready(function() {
        $('#main-table').DataTable();
    } );
    


    </script>
{% endblock %}