{% extends "base/base_generic.html" %}

{% block content %}

{{form.errors}}

<div class="row">
    <div class="col-sm-12">
        <form id="job_form" action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
          
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="id_email" placeholder="Email" {% if object %} value="{{ object.email }}" {% endif %}>

            </div>      
            
        
            
            <div class="form-group">
                    <label for="progetti_jira">Progetto</label>
                    <select class="form-control" name="progetti_jira" class="form-control" id="id_progetti_jira">
                    <option value=""  {% if object and object.progetti_jira == "" %} {% endif %}>--- Nessun Progetto ---</option>   
                    <option value="{{ object.progetti_jira}}"  {% if object%} selected {% endif %}>{{ object.progetti_jira}}</option>
                    {% for progetto in progetti_jira %}
                        <option {% if object and object.progetti_jira == "{{progetto}}" %}  selected value="{{ progetto }}" {% endif %} >{{ progetto }}</option>
                    {% endfor %}
                    
                    </select>
                    
            </div>
   

                
            <div class="form-group">    
                <label for="flagprogetti">Vede Orari</label><br/>    
                <input type="radio" name="flagprogetti" id="id_flagprogetti" value="Si" {% if object and object.flagprogetti == "Si" %} checked {% endif %} >Si
                <input type="radio" name="flagprogetti" id="id_flagprogetti" value="No" {% if object and object.flagprogetti == "No" %} checked {% endif %} >No
            </div>
            <div class="form-group">    
                <label for="flagrapportini">Vede Rapportini</label><br/>   
                <input type="radio" name="flagrapportini" id="id_flagrapportini" value="Si" {% if object and object.flagrapportini == "Si" %} checked {% endif %} >Si
                <input type="radio" name="flagrapportini" id="id_flagrapportini" value="No" {% if object and object.flagrapportini == "No" %} checked {% endif %} >No

            </div>
    </div>
        


</div>
<div class="form-group">
    <button class="btn btn-primary" id="submit">Salva</button>
    <a href="{% url 'wayinternal:waywcp_list' %}" class="btn btn-default">
    Annulla
    </a>
</div>


</form>
<script>

</script>

{% endblock %}